<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body class="body_hei edit" style="background-color: #FFFFFF;background:url(..) no-repeat;">
<h4 th:text="${session.msg}"></h4>
<form class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin"
      style="padding: 20px 0 0 0;height: 100%">
    <input type="hidden" name="articleid" id="oid"
           th:value="${session.article.getArticleid()}"/>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <textarea name="articletitle" placeholder="请输入内容" class="layui-textarea articletitle"
                      th:text="${session.article.getArticletitle()}"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea name="articlecontent" id="demo" style="display: none;" class="content"
                      th:text="${session.article.getArticlecontent()}"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密匙</label>
        <div class="layui-input-inline">
            <input type="password" name="key" required lay-verify="required" placeholder="请输入密匙" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">请输入密匙</div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
    </div>
</form>
<script src="/layui/layui.js"></script>
<script>
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        console.log("query:" + query);
        var vars = query.split("&");
        console.log("vars:" + vars)
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            console.log("pair:" + pair);
            console.log("variable:" + variable);

            if (pair[0] === variable) {
                return pair[1];
            }
        }
        return (false);

    }

    layui.config({
        base: '/static/js/'
    }).use(['layedit', 'layBlog'], function () {
        var layedit = layui.layedit;
        var $ = layui.jquery;
        var oid = getQueryVariable('oid');
        console.log("oid1" + oid);
        // oid = $("#oid").val();
        // console.log("oid2"+oid);
        if (oid) {
            $.post(layui.api.api + "api/article/getArticleByOid", {oid: oid}, function (res) {
                if (res.code == 0) {

                    initEdit();

                } else {
                    layer.msg(res.msg);
                }
            });
        } else {
            initEdit();
        }

        function initEdit() {
            layedit.build('demo', {
                //暴露layupload参数设置接口 --详细查看layupload参数说明
                uploadImage: {
                    url: layui.api.api + 'common/uploadFile',
                    accept: 'image',
                    acceptMime: 'image/*',
                    exts: 'jpg|png|gif|bmp|jpeg',
                    size: 1024 * 10,
                    done: function (data) {
                        console.log(data);
                    }
                }
                //右键删除图片/视频时的回调参数，post到后台删除服务器文件等操作，
                //传递参数：
                //图片： imgpath --图片路径
                //视频： filepath --视频路径 imgpath --封面路径
                , calldel: {}
                //开发者模式 --默认为false
                , devmode: true
                //插入代码设置 --hide:true 等同于不配置codeConfig
                , codeConfig: {
                    hide: false,  //是否显示编码语言选择框
                    default: 'javascript' //hide为true时的默认语言格式
                }
                , videoAttr: ' preload="none" '
                , tool: [
                    'html', 'undo', 'redo', 'code', 'strong', 'italic', 'underline', 'del', 'addhr', '|', 'fontFomatt', 'fontfamily', 'fontSize', 'fontBackColor', 'colorpicker'
                    , '|', 'left', 'center', 'right', '|', 'link', 'unlink', 'image_alt', 'anchors'
                    , '|'
                    , 'table'
                    , 'fullScreen'
                ]
                , height: '300px'
            });
        }

    });
</script>
<!--<script src="https://unpkg.com/qiniu-js@2.5.5/dist/qiniu.min.js"></script>-->
<!--<script src="/static/js/qiniu.js"></script>-->
</body>
</html>