<!DOCTYPE html>
<html lang="zh_CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="baidu-site-verification" content="x9mYEGvvWR" />
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <title>Title</title>
</head>
<body>

</body>

<!--<script>-->
    <!--var _hmt = _hmt || [];-->
    <!--(function() {-->
        <!--var hm = document.createElement("script");-->
        <!--hm.src = "https://hm.baidu.com/hm.js?7e9287ce32ec37e72643f388a23af365";-->
        <!--var s = document.getElementsByTagName("script")[0];-->
        <!--s.parentNode.insertBefore(hm, s);-->
    <!--})();-->
<!--</script>-->

<script>
    window.location.href = 'article'
</script>
</html>