<!DOCTYPE html>
<html lang="zh_CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>
<!-- 侧边内容 -->
<div class="sidebar-content">
    <div class="layui-card">
        <div class="layui-card-header">
            <img src="http://q1.qlogo.cn/g?b=qq&nk=1695560542&s=640" alt="" width="120"><br/>
            <span>南巷飘雪</span>
        </div>
        <div class="layui-card-body">
            <ul>
                <li class="txt">
                    <span>0</span><br/>
                    <span>文章</span>
                </li>

                <li class="visitors">
                    <span>0</span><br/>
                    <span>访问人数</span>
                </li>
            </ul>
        </div>
    </div>
    <ul class="layui-nav">
    </ul>
</div>


<!-- 主要内容 -->
<div class="main message">
    <div class="item">
        <div class="layui-card">
            <div class="layui-card-header">
                <form class="layui-form" action="">
                    <div class="layui-form-item layui-form-text">
                        <div class="layui-input-block">
                            <textarea placeholder="既然来了,就说几句吧" class="layui-textarea" id="LAY-msg-content"
                                      style="resize: none;"></textarea>
                            <div class="btn-box">
                                <button class="layui-btn" type="button" id="item-btn">确认</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-card-body">
                <div class="title">
                    <p><span>全部留言</span><em id="count">1</em></p>
                </div>
                <ul class="list-item" id="LAY-msg-box">
                    <li th:each="comment : ${commentList}">
                        <img src="/static/img/avatar.jpg" alt="">
                        <div class="list-txt">
                            <p class="max-title">
                                <span class="name" th:text="${comment.getUsername()}">{{ item.userName }}</span>
                                <span class="time" th:text="${comment.getCreattime()}">{{ item.createTime }}</span></p>
                            <p class="list-content" th:text="${comment.getContent()}">{{ item.content }}</p>
                        </div>
                    </li>
                </ul>
                <div id="demo1"></div>
            </div>
        </div>
    </div>
</div>


<!-- 搜索框 -->
<div class="seach">
    <div class="layui-form seach-box" action="">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn"><i class="layui-icon layui-icon-search"></i></button>
                <input type="text" name="username" lay-verify="required" placeholder="搜索相关" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
</div>

<script src="/layui/layui.js"></script>
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
    layui.config({
        base: '/static/js/'
    }).use('layBlog', function () {
        var $ = layui.$;
        var laytpl = layui.laytpl;
        var laypage = layui.laypage;

        function getPage(pageNum) {
            $.post(layui.api.api + "message/getPage", {current: pageNum}, function (res) {
                if (res.code === 0) {
                    var elemCont = $('#LAY-msg-content');
                    $("#count").text(res.total);
                    var view = $('#LAY-msg-tpl').html();
                    //模板渲染
                    $('#LAY-msg-box').html("");
                    laytpl(view).render(res.records, function (html) {
                        $('#LAY-msg-box').prepend(html);
                        elemCont.val('');
                    });
                    if (pageNum == null) {
                        laypage.render({
                            elem: 'demo1'
                            , count: res.total //数据总数
                            , jump: function (obj, first) {
                                //首次不执行
                                if (!first) {
                                    getPage(obj.curr);
                                    //do something
                                }
                            }
                        });
                    }
                } else {
                    layer.msg('留言信息查询失败', {
                        icon: 1
                    });
                }
            });
        }

        getPage();

        var submit = true;
        //end 提交
        $('#item-btn').on('click', function () {
            if (!submit) {
                return;
            }
            submit = false;
            var data = new Date();
            var f = data.getFullYear(), m = data.getMonth(), g = data.getDate();
            time = f + '/' + m + '/' + g;
            var elemCont = $('#LAY-msg-content')
                , content = elemCont.val();
            if (content.replace(/\s/g, '') == "") {
                layer.msg('请先输入留言');
                return elemCont.focus();
            } else {
                $.post(layui.api.api + "addMessage", {
                    content: content,
                    articleOid: 0
                }, function (res) {
                    submit = true;
                    location.reload();
                    if (res.code == 0) {
                        // getPage();
                        location.reload();
                    } else {
                        layer.msg(res.msg);
                    }
                });

            }
        })
    });

</script>
</body>
</html>